<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenRiaServices.Silverlight" version="4.3.0.0" targetFramework="sl50" />
  <package id="OpenRiaServices.Silverlight.CodeGen" version="4.3.0.1" targetFramework="sl50" />
  <package id="OpenRiaServices.Silverlight.Core" version="4.3.0.0" targetFramework="sl50" />
  <package id="OpenRiaServices.ViewModel" version="4.3.0.0" targetFramework="sl50" />
</packages>