<#@ template language="C#" #>
<#@ output extension=".g.cs" #>

<#@ include file="$(ProjectDir)\..\M2MGenerator.ttinclude" #>
<#@ include file="$(SolutionDir)\M2M4Ria\Client\RIAM2MDomainContext.ttinclude" #>
